.jumbotron {
  padding-top: 9rem;
  background-image: url('img/bgg.jpg');
  background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
#service {
  background-color: #e2edff;
}
#contact2 {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
